@font-face {
  font-family: "price";
  src: url("https://res-qn-1.shuiyin.cn/html/xinxi/numfont.ttf?v=2");
}

.answer_card {
  margin: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 14px 16px;
}


.answer_head{
  display: flex;
  align-items: center;
}

.answer_avatar{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

.name{
  text-align: left;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.answer_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer_point{
  display: flex;
  align-items: center;
}

.star{
  color: #A8A8A8;
  font-size: 14px;
  margin-left: 5px;
}

.answer_price{
  margin-left: auto;
  color: #A8A8A8;
  font-size: 12px;
  text-align: center;
}

.price{
  color:#3059EA;
  font-size: 24px;
  font-family: price;
}


.tag_group{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tag{
  color: #6585F6;
  font-size: 14px;
  padding: 2px 14px;
  background-color: #E5EAFF;
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 10px;  
}


.card_label{
  font-size: 14px;
  color: #ACACAC;
  margin-top: 10px;
}


.brief{
  color: #7E7E7E;
  font-size: 16px;
  margin-top: 10px;
}


.step_box{
  margin: 20px;
}

.step{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  border: 1px solid #FFF2C8;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 9;
  position: relative;
  color: #C4C4C4;
}

.step_img{
  width: 48px;
  height: 48px;
}

.next_icon{
  width: 14px;
  height: 14px;
}


.yellow{
  font-size: 13px;
  color: #FFAA00;
}

.step_desc{
  background-color: #EBEBEB;
  font-size: 14px;
  color: #505050;
  border-radius: 0 0 8px 8px;
  padding: 15px 0 5px 0;
  margin-top: -10px;
}

.step_li{
  margin: 5px 10px;
}



.arrow_icon{
  width: 16px;
  height: 16px;
}


.history{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0B0B0;
  font-size: 16px;
}


.ask_icon{
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.ask_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 54px;
  background: #3059EA;
  border-radius: 27px;
  color: #ffffff;  
  margin: 20px auto;  
}



.asking{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9EEFE;
  color: #3059EA;
  font-size: 12px;
  border-radius: 30px;
  width: 200px;
  height: 30px;
  margin: 0 auto;
}

.btn_icon{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}


.btn_disable {
  background-color: #999;
}