.answer_avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 44px auto 20px auto;
}

.name{
  text-align: center;
  color: #000000;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

.answer_data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.count{
  color: #636363;
  font-size: 14px;
  margin-right: 24px;
}

.brief{
  color: #3F3F3F;
  font-size: 16px;
  text-align: center;
  margin: 48px auto;
  padding: 0 20px;
}


.arrow_icon{
  width: 16px;
  height: 16px;
}


.history{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0B0B0;
  font-size: 16px;
}


.ask_icon{
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.ask_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 54px;
  background: #3059EA;
  border-radius: 27px;
  color: #ffffff;  
  margin: 0px auto;
  margin-top: 20px;  
}



.asking{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9EEFE;
  color: #3059EA;
  font-size: 12px;
  border-radius: 30px;
  width: 200px;
  height: 30px;
  margin: 0 auto;
}

.btn_icon{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
