<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>信息客</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/index.css" />
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>

<script>
  var uid = {uid: "{$uid}"};
  var token = {token: "{$token}"};  
</script>
<body>
  <div id="app" v-cloak>

<div class="home_head">
  <div class="info_box">
    <img class="home_avatar" :src="consultInfo.avatar_url"></img>
    <div class="name">{{consultInfo.nickname}}</div>
  </div>
</div>

<div class="label">我解锁的信息</div>

<van-list
  v-model="loading"
  :finished="finished"
  @load="onLoad"
>

  <div class="consult_list">
    <div class="card" v-for="item in list" :data-id="item.consult_id"  @click="posterDetail(item.poster_id)">
      <div class="card_title">
        <div>{{item.title}}</div>
      </div>
      <div class="desc">{{item.abstract_content}}</div>
      <div class="card_footer">
        <div class="avatar_group">
          <img class="avatar" v-for="(avatar, idx) in item.buyer_list" v-if="idx < 3"
           :style="idx===0?'margin-left:0':''" :src="avatar.avatar_url"></img>
        </div>
        <div class="card_info">{{item.buyer_count}}人付费·{{item.buyer_score_count}}人打分</div>

        <div class="card_badge" :style="item | shareColor">
          {{item | badage}}
        </div>
      </div>      


    </div>
  </div>

</van-list>

<van-empty v-if="empty" description="暂无咨询内容"></van-empty>



  </div>
</body>
</html>